[Unit]
Description= dbc ble.
After=network.target

[Service]
ExecStart=/home/pi/dbc/RC/ble/run.sh
ExecStop=/bin/kill ${MAINPID}
Restart=always
Type=simple
User=ma
Group=dialout

[Install]
WantedBy=default.target
